<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta charset="ISO-8859-1">
	<title>Enter filghts and their availability details</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>Flights and their timings along with departure city and Arrival city</h1>
		</div>
		<form th:action="@{/process_register_Flightdetails}" th:object="${flight}" 
			method="post" style="max-width: 600px; margin: 0 auto;">
		<div class="m-3">
			<div class="form-group row">
				<label class="col-4 col-form-label">Flight Name : </label>
				<div class="col-8">
					<input type="text" th:field="*{flightName}" class="form-control" required />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Flight code: </label>
				<div class="col-8">
					<input type="number" th:field="*{flightCode}" class="form-control" 
							required minlength="1" maxlength="10"/>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Departure City: </label>
				<div class="col-8">
					<input type="text" th:field="*{DepartureCity}" class="form-control" 
							required minlength="2" maxlength="20"/>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Arrival City: </label>
				<div class="col-8">
					<input type="text" th:field="*{ArrivalCity}" class="form-control" 
							required minlength="2" maxlength="20" />
				</div>
			</div>
			
			<div class="form-group row">
							<label class="col-4 col-form-label">Company Name: </label>
							<div class="col-8">
								<input type="text" th:field="*{CompanyName}" class="form-control" 
										required minlength="2" maxlength="20" />
							</div>
			</div>
			
			<div class="form-group row">
					<label class="col-4 col-form-label">No of seats available: </label>
					<div class="col-8">
					<input type="text" th:field="*{NoOfSeatsAvailable}" class="form-control" 
													required minlength="1" maxlength="20" />
					</div>
			</div>

			<div class="form-group row">
				<label class="col-4 col-form-label">Journey Start time : </label>
				<div class="col-8">
				<input type="text" th:field="*{JourneyStartTime}" class="form-control" 
				required minlength="2" maxlength="20"  placeholder="YYYY-MM-DD HH:MM:SS"/>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Journey End time : </label>
				<div class="col-8">
				<input type="text" th:field="*{JourneyEndTime}" class="form-control" 
				required minlength="2" maxlength="20" placeholder="YYYY-MM-DD HH:MM:SS"/>
				</div>
			</div>
			
			<div class="form-group row">
								<label class="col-4 col-form-label">Price per seat: </label>
								<div class="col-8">
								<input type="text" th:field="*{PricePerSeat}" class="form-control" 
																required minlength="1" maxlength="20" />
								</div>
						</div>
						
			<div>
				<button type="submit" class="btn btn-primary">Save Flight Details</button> 
			</div>
		</div>
		</form>
		<div>
				<form th:action="@{/logout}" method="post">
					<a th:href="@{/logout_success}">Sign Out</a>
				</form>
		</div>
	</div>
</body>
</html>
